@import url('https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&family=Yuji+Mai&display=swap');

* {
    margin: 0px;
    padding: 8px;
    border: 100;
    
    

}

body {
    height: 100vh;
    box-sizing: border-box;
    background-image: url("IA.jpg");
    background-position: center;
    background-size: cover;
    
}



.Apresentacao__links {
    display: flex; 
    justify-content: space-between;
    flex-direction: column;

}

.apresentacao__links__botoes{
    border-radius: 20px;
    color: white;
    border-color: darkblue;
    background-color: darkblue;
    position: center;
    font-size: 18px;
    justify-content: space-between;
    margin: 20px; 
    width: 250px;
    text-decoration: none;
    font-weight: 600;
}

a {
    color: white; 
}

.Apresentacao{
    display:inline; 
    justify-content: space-around;
    align-items: left;
    margin: 5%;
    font-size: 22px;
    color: white;
    width: 425px;
    font-family: "Parkinsans", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    
}

.Apresentacao__Conteudo{
    width: 425px;
    font-size: 20px;
    margin: 0% ;
    font-family: "Yuji Mai", serif;
    font-weight: 400;
    font-style: normal;
    
}

.Sobre_mim{
    font-family: "Yuji Mai", serif;
    font-weight: 400;
    font-style: normal;
    
}


.Apresentacao__Conteudo__Projetos{
    width: 400px;
    font-size: 12px;
    margin: 0% ;
    justify-content: space-around;
    align-items: left;
    font-family: "Yuji Mai", serif;
    font-weight: 400;
    font-style: normal;
    
}


p {
    font-size: small; 
    font-family: 'Times New Roman', Times, serif; 
    color: white;
    
}